.BlogSearchBar {
    text-align: right;
}

.BlogSearchBar input {
    max-width: 100%;
    width: 250px;
    height: 35px;
    padding: 0 15px;
    color: #FFF;
    display: inline-block;
}

.BlogSearchBar input::placeholder {
    color: #FFF;
}

.BlogSearchBar button {
    margin-top: 1px;
    border: none;
    height: 33px;
    width: 33px;
    background: rgb(37, 37, 37);
    border-radius: 2px;
    color: #FFF;
    position: absolute;
    right: 15px;
}

.BlogSearchBar button:focus, .BlogSearchBar button:active, .BlogSearchBar button:after,
.BlogSearchBar input:focus, .BlogSearchBar input:active, .BlogSearchBar input:after {
    outline: none;
}