@charset "UTF-8";
body {
    padding-top: 60px;
}

#files div {
    display: inline-block !important;
    padding: 11px 4px 0 4px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

#files div p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}