.BlogBlog {
    background-image: url('../Images/bg.jpg');
    background-position: top center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    font-family: 'Oxygen', sans-serif !important;
    margin-top: 40px;
}

.BlogBlog-container {
    padding: 40px 15px;
}

.BlogBlog-label {
    color: #575761;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}

.BlogBlog-label h1 {
    color: #FA9F26;
    display: inline;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 38px;
}

.BlogBlog-postagens {
    padding: 0;
    margin-top: 20px;
}

.BlogBlog-box {
    transition: all 0.2s linear;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    background: #FFF;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-top: 2px solid #ff8100;
}

.BlogBlog-box:hover {
    background-color: #FDEDBA;
}

.BlogBlog-imagem {
    transition: all 0.2s linear;
    background-size: cover !important;
    background-position: top center !important;
    height: 302px;
}

.BlogBlog-box:hover .BlogBlog-imagem {
    transition: all 0.2s linear;
    opacity: 0.6;
}

.BlogBlog-body {
    padding: 0;
}

.BlogBlog-body-title {
    color: #FBA026;
    font-weight: 600;
    font-size: 18px;
    margin-top: 57px;
}

.BlogBlog-body-descricao {
    color: #525261;
    margin-top: 40px;
    font-weight: 600;
    font-size: 15px;
}

.BlogBlog-body-keepreading {
    color: #525261;
    text-align: right;
    margin-top: 40px;
    font-weight: 600;
    font-size: 16px;
}

.BlogBlog-button-link {
    margin-top: 20px;
    text-align: center;
    padding: 0;
}

.BlogBlog-button-link button {
    background: rgba(250, 195, 28, 1);
    background: -moz-linear-gradient(top, rgba(250, 195, 28, 1) 0%, rgba(251, 159, 38, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250, 195, 28, 1)), color-stop(100%, rgba(251, 159, 38, 1)));
    background: -webkit-linear-gradient(top, rgba(250, 195, 28, 1) 0%, rgba(251, 159, 38, 1) 100%);
    background: -o-linear-gradient(top, rgba(250, 195, 28, 1) 0%, rgba(251, 159, 38, 1) 100%);
    background: -ms-linear-gradient(top, rgba(250, 195, 28, 1) 0%, rgba(251, 159, 38, 1) 100%);
    background: linear-gradient(to bottom, rgba(250, 195, 28, 1) 0%, rgba(251, 159, 38, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fac31c', endColorstr='#fb9f26', GradientType=0);
    color: #FFF;
    border: none !important;
    border-radius: 0;
    padding: 10px 0;
    font-size: 18px;
    width: 354px;
    max-width: 100%;
}













