body{font-size:62.5%;font-family:"Trebuchet MS","Arial","Helvetica","Verdana","sans-serif"}table{font-size:1em}.demo-description{clear:both;padding:12px;font-size:1.3em;line-height:1.4em}.ui-draggable,.ui-droppable{background-position:top}