.BlogParceiros {
    padding: 0;
}

.BlogParceiros-header {
    background: #FFF;
    text-align: center;
    padding: 13px 0;
    border-top: 2px solid #f8981d;
    border-bottom: 1px solid #EEEEEE;
}

.BlogParceiros-header h1 {
    font-family: 'Oxygen', sans-serif !important;
    color: #525260;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
}

.BlogParceiros-body {
    padding: 0;
    font-family: 'Oxygen', sans-serif !important;
    border: 1px solid #eeeeee;
    box-shadow: 1px 3px 5px #cecdcd;
    background: #f9f9f9;
}

.BlogParceiros-body ul {
    margin: 0;
    padding: 0;
}

.BlogParceiros-body ul li {
    list-style: none;
    font-family: 'Oxygen', sans-serif !important;
    border-bottom: 1px solid #EEE;
    font-weight: 500;
    color: #414151;
    font-size: 16px;
}

.BlogParceiros-body ul li a {
    height: inherit;
    width: 100%;
    display: block;
    padding: 13px 14px;
}

.BlogParceiros-body ul li a:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #FFF !important;
}