body{
    background-color:#FFF;
}
body::-webkit-scrollbar {
    background-color: #5a2d82;
    width: 6px;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #000;
    width: 6px;
    border-radius: 10px;
}
