.aberturaDeTela {
    background: #f0f0f0;
    margin-top: 58px
}

@media screen and (min-width: 0) and (max-width: 1000px) {
    .aberturaDeTela {
        float: none !important;
        margin-top: 147px
    }
}

.gradient-purple-blue {
    background: linear-gradient(to right, #045267 0%, #0086b5 10%, #00f7d3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#925daa', endColorstr='#26b1a5', GradientType=1)
}

.gadgetArea {
    padding: 0 11px !important
}

.gadgetBox {
    background: #FFF;
    min-height: 120px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin: 10px 0px !important;
    padding: 15px
}

.gadgetBox h1 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 0
}

.gadgetBox .body {
    margin-top: 15px
}

.datepicker-days table tbody tr td .active.day {
    background: #1caf9a !important;
    border-radius: 0 !important
}

md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar {
    background-color: rgba(28, 175, 154, .86) !important
}

md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
    background-color: #1CAF9A !important
}

md-switch.md-default-theme.md-checked .md-ink-ripple, md-switch.md-checked .md-ink-ripple {
    color: #1CAF9A !important
}

md-switch.md-default-theme.md-focuses .md-ink-ripple, md-switch.md-focuses .md-ink-ripple, .md-thumb:before {
    color: #1CAF9A !important
}

.autocompleteBoxForApi {
    height: 0;
    padding: 0
}

.autocompleteBoxForApi-results {
    position: absolute;
    background: #FFF;
    min-height: 80px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 999;
    border: 1px solid #08c;
    border-radius: 5px;
    border-top-left-radius: 0;
    margin-top: -3px;
    border-top-right-radius: 0;
    border-top: none
}

.autocompleteBoxForApi-results ul {
    width: 100%;
    padding: 0;
    margin: 0
}

.autocompleteBoxForApi-results ul li a:active, .autocompleteBoxForApi-results ul li a:focus {
    background: #f2f2f2 !important
}

.autocompleteBoxForApi-results ul li.active a {
    background: #f2f2f2 !important
}

.autocompleteBoxForApi-results ul li {
    display: inline-block;
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #f2f2f2
}

.autocompleteBoxForApi-results ul li a {
    padding: 10px 10px;
    display: block;
    color: #444;
    text-decoration: none
}

.autocompleteBoxForApi-results ul li:hover {
    background: #f2f2f2
}

.autocompleteBoxForApi-results ul li.active {
    background: #1989EA
}

.autocompleteField input:focus {
    border: 1px solid #0088cc !important
}

/** breadcrumb plugin **/

.breadCrumbImagens li, .breadCrumbImagens li a, .breadCrumbImagens li em, .breadCrumbImagens li a em {
    font-size: 13px;
}

/** padrao de layout para etapas **/
a:hover {
    text-decoration: none !important;
}

.etapas {
    display: none;
    padding: 5px 0 15px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #E1E5E6;
}

.etapa1 {
    display: block;
}

.etapa-identificador-area {
    padding: 0;
    margin-bottom: 25px;
}

.separador-identificador {
    padding: 0;
    background-color: #96c03d;
    height: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.identificador {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    background-color: #96c03d;
    color: #FFF;
    font-weight: 600;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    top: -10.8px;
}

.etapa-content {
    padding: 0;
}

.etapa-elemento {
    padding: 0 0 10px 0;
    border-bottom: 1px solid #E1E5E6;
}

.etapa-elemento label {
    display: block;
    margin: 10px 0 0 0;
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    color: #7b767c;
    font-size: 15px;
}

.etapa-item-acao-area {
    padding: 15px 0;
}

.etapa-item-acao-area button {
    border-radius: 40px;
    height: 40px;
    max-width: 100%;
}


.etapa-content {
    margin-top: 15px;
}

@font-face {
    font-family: havelica-normal;
    src: url('Helvetica.ttf');
}

@font-face {
    font-family: havelica-bold;
    src: url('Helvetica-Bold.ttf');
}

.etapa-content input, .etapa-content select, .etapa-content textarea, .bootstrap-tagsinput {
    border: 1px solid #e1e5e6 !important;
    border-radius: 26px !important;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
    height: 45px !important;
    font-family: 'havelica-normal', sans-serif !important;
    font-weight: 500;
    text-shadow: none !important;
}

.bootstrap-tagsinput input {
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    height: 34px !important;
}

.etapa-content input:focus, .etapa-content textarea:focus {
    border: 1px solid #e1e5e6 !important;
}

.bootstrap-tagsinput input:focus {
    border: none !important;
    box-shadow: none !important;
}

.etapa-content textarea {
    height: 50px;
}

.bootstrap-tagsinput .label-info {
    background: #5c6469 !important;
    border-radius: 126px !important;
}

.bootstrap-tagsinput {
    /*display: flex !important;*/
    justify-content: flex-start !important;
    align-items: center !important;
    height: auto !important;
}

.tags .fa.fa-remove {
    right: -9px;
    margin-top: -8px;
    position: absolute;
    color: #a6a6a7;
    cursor: pointer;
}

.tags .col-md-12 {
    padding: 5px 0;
}

.tags {
    background-color: #d0d0d0;
    border-radius: 8px;
    color: #444;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    float: left;
    margin: 3px;
    padding: 1px 10px 1px 6px;
}