.BlogPostagem {
    background: #F9F9F9;
    font-family: 'Oxygen', sans-serif !important;
    padding: 5px 15px;
}

.BlogPostagem-container {
    padding: 0;
    margin-top:25px;
}

.BlogPostagem-imagem {
    padding: 0;
    background-position: top center !important;
    background-size: cover !important;
    height: 420px;
}
.gradientImage{
    padding: 10px 15px;
    min-height: 180px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}
.BlogPostagem-colunista-area {
    position: absolute;
    bottom: -34px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    width: 100%;
    left: 0;
}

.BlogPostagem-colunista-dados {
    width: 200px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BlogPostagem-colunista-dados-imagem {
    background-position: center center !important;
    background-size: cover !important;
    height: 100px;
    width: 100px;
    border: 6px solid #FFF;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.BlogPostagem-colunista-dados-escritopor {
    position: absolute;
    bottom: -49px;
    font-weight: 600;
    font-size: 13px;
    font-family: 'Open sans', sans-serif;
    width: 210px;
    text-align: center;
}

.BlogPostagem-colunista-dados-escritopor span {
    color: #2FE0B4 !important;
}

.BlogPostagem-conteudo {
    background: #FFF;
    padding: 0;
}

.BlogPostagem-informacoes {
    padding: 29px 0;
    background-color:#fdfdfd;
}

.BlogPostagem-informacoes-agrupamento {
    padding: 0;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
    .BlogPostagem-informacoes-agrupamento {
        text-align: center;
    }

    .BlogPostagem-informacoes-categoria {
        margin-top: 75px;
    }

    .BlogPostagem-imagem {
        height: 170px;
    }

    .BlogPostagem-informacoes-midias-sociais {
        text-align: center !important;
        margin-top:15px;
    }
}

.BlogPostagem-informacoes-categoria {
    font-weight: 600;
    color: #00D8A3;
    padding: 0;
    text-align: center;
}

.BlogPostagem-informacoes-data {
    color: #858593;
    font-size: 13px;
    font-weight: 500;
}

.BlogPostagem-informacoes-midias-sociais {
    padding: 0;
    text-align: right;
}

.BlogPostagem-informacoes-midias-sociais ul {
    margin: 0;
    padding: 0;
}

.BlogPostagem-informacoes-midias-sociais ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
}

.BlogPostagem-informacoes-midias-sociais ul li img {
    height: 32px;
}

.BlogPostagem-titulo h1{
    font-family: 'Open sans', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #1F1F2E;
    margin: 0;
}
.BlogPostagem-titulo {
    text-align: center;
    padding: 60px 60px;
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
    .BlogPostagem-titulo {
        padding: 60px 0px;
    }
}
.BlogPostagem-descricao {
    padding: 15px 20px;
    font-size: 16px;
    color: #31313F;
}

.BlogPostagem-descricao img {
    max-width: 98% !important;
    min-width: 350px !important;
    max-height: 602px !important;
    width: auto !important;
    height: auto !important;
    border: 3px solid #ffffff;
    border-radius: 10px;
    margin: 15px 4px;
    box-shadow: 1px 1px 11px #00000029;
}
.BlogPostagem-tags{
    text-align: left;
}
.tags div{
    padding: 0;
}
.tags {
    background-color: #f5f6f7;
    border-radius: 8px;
    color: #444;
    font-family: 'Open sans',sans-serif;
    font-weight: 300;
    font-size: 12px;
    float: left;
    margin: 3px;
    padding: 4px 8px 4px 8px;
}
