@import "../../../../../Assets/css/sass/variables";

$_bg: white;
$_text: $primary;
$_bg_menu: $primary;
$_text_menu: white;

.md-button.md-default-theme.md-warn.md-raised, .md-button.md-warn.md-raised, .md-button.md-default-theme.md-warn.md-fab, .md-button.md-warn.md-fab {
    background-color: $primary;
}

.md-button.md-default-theme.md-warn.md-raised:not([disabled]):hover, .md-button.md-warn.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-warn.md-fab:not([disabled]):hover, .md-button.md-warn.md-fab:not([disabled]):hover {
    background-color: lighten($primary, 10%);
}

.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab {
    background-color: $primary;
}

.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover {
    background-color: lighten($primary, 10%);
}

.pagination {
    > li {
        > a,
        > span {
            color: $primary;
            background-color: white;
            &:hover,
            &:focus {
                color: white;
                background-color: $primary;
                border-color: $primary !important;
            }
        }
    }
    > .active > a,
    > .active > span {
        &,
        &:hover,
        &:focus {
            color: white;
            background-color: $primary !important;
            border-color: $primary !important;
        }
    }
}

.header-autodesenvolve {
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    background: $_bg;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.22);
}

.alertas-sistema {
    padding: 0 5px 0 0
}

.alertas-sistema ul {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right
}

.alertas-sistema ul li {
    list-style: none;
    display: inline-block
}

.alertas-sistema ul li a {
    display: block;
    color: #FFF !important;
    padding: 18px 8px;
    font-size: 16px
}

.numeroAlertas {
    position: absolute;
    background: #D2322D;
    color: #FFF;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    margin-top: 10px;
    margin-left: 12px;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 12px
}

.alertas-sistema ul li ul {
    display: none;
    position: absolute;
    background: #fdfdfd;
    width: 100%;
    z-index: 9;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin-left: -8px
}

.apontador-de-menu {
    color: #FFF;
    position: absolute;
    top: -9px;
    left: 13px;
    font-size: 22px
}

.alertas-sistema ul li ul li {
    display: inline-block;
    width: 100%;
    text-align: left
}

.alertas-sistema ul li ul li a:hover {
    text-decoration: none;
    background: #f5f5f5
}

.alertas-sistema ul li ul li a {
    padding: 12px 13px;
    color: #333 !important;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #e6e6e6;
    margin: 0 0 3px 0
}

.alertas-sistema ul li ul li a .numeroAlertasItem {
    position: absolute;
    margin-top: -20px;
    right: 11px;
    color: #a9a9a9;
    font-weight: 600
}

.autodesenvolve-escritorio {
    color: $_text;
    padding: 18px 0 16px 26px;
    background-image: url(../Images/separador.png);
    background-repeat: no-repeat !important;
    background-position: left center !important;
    font-family: 'Open sans', sans-serif !important;
    font-size: 17px;
    font-weight: 500;
    margin-left: 5px;
}

.autodesenvolve-escritorio.versao-minima {
    margin-left: 125px !important
}

.logo-header-autodesenvolve {
    padding: 5px 10px;
    text-align: center;
    height: 54px;
    max-width: 220px
}

.informacoes-usuario-header-autodesenvolve-area {
    padding: 0
}

.informacoes-usuario-header-autodesenvolve {
    height: 58px;
    padding: 0;
    text-align: center
}

.informacoes-usuario-header-autodesenvolve ul {
    margin: 0;
    padding: 0
}

.informacoes-usuario-header-autodesenvolve ul li {
    display: inline-block;
    list-style: none;
    width: 100%
}

.informacoes-usuario-header-autodesenvolve ul li ul {
    display: none;
    position: absolute;
    background: $_bg_menu;
    width: 100%;
    color: $_text_menu;
    padding: 5px 0;
    top: 58px;
    border-top: 4px solid $_text_menu;
    border-bottom: 2px solid $_text_menu;
    z-index: 999
}

.informacoes-usuario-header-autodesenvolve ul li ul li {
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
    padding: 5px 8px
}

.informacoes-usuario-header-autodesenvolve ul li ul li a {
    color: #FFF
}

.informacoes-usuario-header-autodesenvolve ul li ul li:hover {
    background: rgba(0, 0, 0, .5);
    cursor: pointer
}

.area-informacoes-usuario {
    cursor: pointer;

    .foto-area-header-autodesenvolve {
        color: $_text;
    }

    .nome-usuario-header-autodesenvolve {
        color: $_text;
    }

    .arrow-status-info-usuario {
        padding: 6px;
        background: $_text;
    }
}

.area-informacoes-usuario.active {
    background: $_bg_menu;

    .foto-area-header-autodesenvolve {
        color: $_text_menu;
    }

    .nome-usuario-header-autodesenvolve {
        color: $_text_menu;
    }
}

.usuario-informacoes-icone-area {
    padding: 0;
    text-align: center
}

.usuario-informacoes-descricao-area {
    padding: 0 0 0 14px;
    text-align: left
}

.foto-header-autodesenvolve {
    height: 44px;
    width: 44px;
    border-radius: 1000px !important
}

.foto-area-header-autodesenvolve {
    padding: 0;
    height: 58px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center
}

.nome-usuario-header-autodesenvolve {
    padding: 0;
    height: 58px;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center
}

@media screen and (min-width: 0) and (max-width: 1000px) {
    .alertas-sistema {
        display: none !important
    }

    .informacoes-usuario-header-autodesenvolve-area {
        min-width: 100% !important
    }

    .logo-header-autodesenvolve {
        min-width: 100% !important
    }

    .area-informacoes-usuario ul li {
        border-bottom: 1px solid #000
    }

    .area-informacoes-usuario ul li a .usuario-informacoes-descricao-area {
        padding: 0 !important;
        text-align: center !important
    }

    .area-informacoes-usuario.active {
        background: rgb(4, 65, 104) !important
    }

    .nome-usuario-header-autodesenvolve {
        margin-left: 12px !important
    }

    .autodesenvolve-escritorio {
        background-image: none !important;
        position: absolute;
        margin: 0 !important;
        right: 15px;
        top: 0;
        padding: 19px 0 15px 15px !important;
        font-size: 9px
    }
}
