.AdminAutoDesenvolveEscritorios{padding-top:15px}.AdminAutoDesenvolveEscritorios-ferramentas{position:absolute;height:auto;width:calc(100% - 23px);left:12px;top:0;z-index:9;background:transparent;padding:4px 8px;font-size:15px}