@import "../../../../../Assets/css/sass/variables";


.menu-left-autodesenvolve {
    z-index: 9999;
    transition: all 0.3s ease;
    height: calc(100% - 190px);
    background-color: $primary;
    padding: 0 2px;
    position: fixed;
    /*z-index: 9;*/
    overflow-y: auto;
    direction: rtl;
    margin-top: 58px;
    width: 220px;
    /*transform: translate(-215px);*/
}

.menu-left-autodesenvolve:hover{
    /*transform:translate(0px);*/
}

.menu-left-autodesenvolve::-webkit-scrollbar {
    width: 2px !important;
}

.menu-left-autodesenvolve::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 100px
}

.menu-left-autodesenvolve::-webkit-scrollbar {
    background: transparent;
    width: 9px;
    border-radius: 100px
}

.area-tre-list-icon {
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    /*height: 36px*/
}

.tre-list-icon {
    width: 29px;
    height: 26px;
    background-color: transparent;;
    padding: 0 3px 0 3px;
    cursor: pointer
}

.tre-list-icon .fit-box {
    margin-top: 5px;
    padding: 0
}

.tre-list-icon .fit-box .fit-aside {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0)
}

.tre-list-icon .fit-box .fit-side {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, .4)
}

.search-area {
    padding: 0;
    margin-top: 15px;
}

.search-area input {
    border: 1px solid #ffffff52;
    background: transparent;
    width: 85%;
    height: 35px;
    color: #FFF;
    font-family: 'Open sans', sans-serif;
    border-right: none !important;
    padding: 0 8px;
    direction: ltr;
}

.search-area input::placeholder {
    color: rgba(255, 255, 255, .8);
    font-style: italic
}

.search-area input:focus {
    outline: none
}

.search-area button {
    width: 15%;
    background: transparent;
    border: 1px solid #ffffff57;
    color: #FFF;
    margin-left: 0;
    height: 35px;
    border-left: none !important;
    position: absolute
}

.search-area button:focus {
    outline: none
}

.cms-area {
    font-family: 'Opens sans', sans-serif;
    font-weight: 500;
    padding: 8px 0;
    background: $primary;
    color: #FFF;
    margin-top: 25px
}

.cms-icon {
    padding: 0;
    text-align: center;
    color: #FFF;
    font-size: 16px
}

.cms-nome {
    padding: 0;
    text-align: left;
}

.menu-area {
    margin-top: 20px;
    padding: 0
}

.menu-area ul {
    padding: 0;
    margin: 0
}

.menu-area ul li.drop-menu ul {
    display: none
}

.menu-area ul li.drop-menu.active {
    background: rgba(0, 0, 0, .5)
}

.menu-area ul li.drop-menu.active > a {
    background: lighten($primary, 10%) !important;
}

.menu-area ul li.drop-menu.active > a li a:hover {
    background: darken($primary, 10%) !important;
}

.menu-area ul li.drop-menu .fa.fa-sort-desc {
    position: absolute;
    right: 8px;
    transform: rotate(-90deg)
}

.menu-area ul li.drop-menu.active .fa.fa-sort-desc {
    transform: rotate(0deg)
}

.menu-area ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.menu-area ul li a {
    transition: all 0.2s linear;
    color: #FFF;
    display: inline-block;
    width: 100%;
    padding: 9px 0
}
.menu-area ul li.small a {
    padding: 2px 0
}

.menu-left-autodesenvolve.versao-minima .menu-area ul li a {
    padding: 0 !important
}

.menu-left-autodesenvolve .menu-area ul .drop-menu.active ul li a:hover {
    transition: all 0.2s linear;
    background: darken($primary, 10%) !important;
}

.menu-left-autodesenvolve.versao-minima .listagem-menu-titulo-area:hover {
    transition: all 0.2s linear;
    background: #00c587 !important;
    border-left: 3px solid #CCC
}

.menu-area ul li .listagem-menu-icone-area {
    padding: 3px 0;
    text-align: center
}

.menu-area ul li .listagem-menu-titulo-area {
    padding: 0;
    padding-top: 2px;
    font-family: 'open sans', sans-serif !important;
    font-size: 13px;
    font-weight: 300 !important
}

.menu-left-autodesenvolve.versao-minima {
    max-width: 56px !important;
    padding: 0
}

.menu-left-autodesenvolve.versao-minima .listagem-menu-icone-area {
    width: 100% !important
}

.menu-left-autodesenvolve.versao-minima .search-area {
    display: none
}

.menu-left-autodesenvolve.versao-minima .cms-area .cms-icon {
    width: 100% !important
}

.menu-left-autodesenvolve.versao-minima .cms-area .cms-nome {
    display: none
}

.menu-left-autodesenvolve.versao-minima .listagem-menu-titulo-area {
    display: none
}

.menu-left-autodesenvolve.versao-minima ul li:hover .listagem-menu-titulo-area {
    display: block;
    width: 150px;
    background: #191919;
    padding: 12px 5px;
    position: absolute;
    left: 56px;
    z-index: 999
}

.menu-left-autodesenvolve.versao-minima ul li:hover {
    background: rgba(0, 0, 0, .5)
}

.menu-left-autodesenvolve.versao-minima .area-tre-list-icon {
    justify-content: center !important
}

.menu-left-autodesenvolve.versao-minima ul li:hover > ul {
    display: block
}

.menu-left-autodesenvolve.versao-minima .menu-area ul li a .listagem-menu-icone-area {
    padding: 8px
}

@media screen and (min-width: 0) and (max-width: 1000px) {
    .menu-left-autodesenvolve {
        width: 100% !important;
        min-width: 100% !important;
        min-height: 0px !important;
        height: auto !important;
        z-index: 99;
        top: 54px;
    }

    .search-area, .cms-area, .menu-area {
        display: none
    }

    .area-tre-list-icon {
        padding: 13px 0 17px 0 !important
    }

    .cms-area {
        height: 40px !important
    }

    .menu-area ul li a .listagem-menu-icone-area, .cms-icon {
        width: 10% !important;
        float: left !important;
        text-align: center !important
    }

    .menu-area ul li a .listagem-menu-titulo-area, .cms-nome {
        width: 89% !important;
        float: left !important;
        text-align: left !important;
        padding: 0 0 0 5px !important
    }
}
