#pagina-avaliacao {

    .perguntas {
        .form-check-input {
            position: relative;
            float: left;
            &:after {
                content: '';
                position: absolute;
                top:-3px;
                left: -3px;
                width: 20px;
                height: 20px;
                z-index: 1;
                border: 1px solid $gray;
                background: white;
            }
            &:checked:after {
                background: $primary;
            }
        }

    }

    .btn {
        border-radius: 19px;
    }

}