#pagina-cursos {
    .index {
        .banner {
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;

            .titulo {
                position: absolute;
                top: 50%;
                width: 100%;
                transform: translateY(-50%);
            }
        }

        .item {
            p {
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-height: 20px; /* fallback */
                max-height: 20px * 6; /* fallback */
                -webkit-line-clamp: 6; /* number of lines to show */
                -webkit-box-orient: vertical;
            }

            .btn {
                border-radius: 23px;
                font-size: 1.2rem;
            }
        }
    }


    .detalhes {
        .banner {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            hr {
                border-width: 2px;
                border-color: rgba(white, .7);
                width: 70%;
            }

            .titulo {
                font-size: 1.2rem;
            }

            .descricao {
                font-size: 1.2rem;
            }
        }

        .valores {
            font-size: 1.1rem;
        }
    }
}

#pagina-faca-sua-matricula {

    .agenda {
        .item {
            .btn {
                border-radius: 23px;
                font-size: 1.2rem;
            }
        }
        .descricao {
            line-height: 1rem;
            font-size: 0.8rem;
            color: $gray-700;
        }
    }
}