#pagina-fale-conosco {

    .banner {
        background-size: cover;
        background-position: center;

        @include media-breakpoint-up(md) {
            .col-md-3:last-child {
                border-left: 1px solid $primary;
            }
        }
        @include media-breakpoint-down(md) {
            .col-md-3 {
                margin-bottom: 10px;
            }
        }

        h4 {
            font-weight: normal;
        }

        .fa {
            position: relative;
            margin-right: 5px;

            &::after {
                content: '';
                position: absolute;
                border: 1px solid $primary;
                top: -4px;
                left: -2px;
                right: -2px;
                bottom: -4px;
                border-radius: 50%;
            }
        }

    }

    .formulario {
        select:required:invalid {
            color: #6c757d;

            option[value=""][disabled] {
                display: none;
            }
        }
    }

}