// Footer //
#Footer {
    padding: 40px 0 0 0;

    .footer-brand {
        margin-top: 40px;
    }

    .fp {
        img {
            margin: 0 12px 8px 0;
            //border-radius: 5px;
        }
    }

    .social {
        margin: 0 10px 0 0;
    }

}

.contact-whatsapp {
    position: fixed;
    bottom: 30px;
    z-index: 99999;
    right: 0;

    @include media-breakpoint-down(md) {
        bottom: 20px;
    }

    .pulse {
        border-radius: 50%;
        border: 1px solid white;
        background: black;
        cursor: pointer;
        box-shadow: 0 0 0 rgba(black, .7);
        animation: pulse 2s infinite;
        padding: 18px 22px;
        width: 65px;
        height: 65px;
        color: $white !important;
        font-size: 23px;
        float: right;
        margin: 0 20px;
        transition: .2s;

        @include media-breakpoint-down(md) {
            padding: 13px 17px;
            width: 55px;
            height: 55px;
        }

        &:hover i {
            color: $white;
            transition: .2s;
            transform: rotate(20deg);
        }
    }
}
