// Header //
body {
    padding-top: 129px;
    @include media-breakpoint-down(md) {
        padding-top: 129px;
    }
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    margin-right: 0.5em;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

#nav-main {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.22);


    .nav-item {
        &.active {
            position: relative;

            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background: $primary;
                z-index: 1;
            }

            &:after {
                position: absolute;
                content: '';
                width: 0;
                height: 0;
                top: 4px;
                left: 50%;
                transform: translateX(-50%);
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid $primary;
            }
        }

        .nav-link {
            color: $dark;
            height: 89px;
            padding: 0;
            position: relative;

            .nav-link-text {
                line-height: 89px;
            }

            .nav-link-btn {
                position: relative;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
                white-space: nowrap;
                border-radius: 19px;
                &.btn-outline-primary:hover {
                    //color: white !important;
                }
            }
        }
    }

    .navbar-toggler {
        margin-right: 0.7rem;
    }

    .navbar-brand {
        padding: 5px;
        margin: 0;
        @include media-breakpoint-down(md) {
        }
    }

}