#pagina-home {

    #home-banners {
        .carousel-control-prev, .carousel-control-next {
            @include media-breakpoint-up(md) {
                width: 7%;
            }

            .wrapper {
                height: 56px;
                background: black;
                display: block;
                line-height: 1.6;
                position: absolute;
                left: 0;
                right: 0;
                font-size: 36px;
            }
        }

        .carousel-control-prev {
            .wrapper {
                border-top-right-radius: 28px;
                border-bottom-right-radius: 28px;
                text-align: right;
                padding-right: 30px;
                @include media-breakpoint-down(md) {
                    padding-right: 22px;
                }
            }
        }

        .carousel-control-next {
            .wrapper {
                border-top-left-radius: 28px;
                border-bottom-left-radius: 28px;
                text-align: left;
                padding-left: 30px;
                @include media-breakpoint-down(md) {
                    padding-left: 22px;
                }
            }
        }

        .carousel-indicators {
            @include media-breakpoint-down(md) {
                bottom: -15px;
            }

            li {
                box-sizing: content-box;
                flex: 0 1 auto;
                width: 22px;
                height: 2px;
                text-indent: -999px;
                cursor: pointer;
                background-color: rgba($white, 0.5);
                border: 0;
                opacity: 1;
                transition: opacity 0.6s ease;
                margin: 10px 3px;


                &.active {
                    background-color: $white;
                }
            }
        }
    }

    .bem-vindo {

        .missao, .cursos {
            h1 {
                font-size: 1.2rem;
            }

            @include media-breakpoint-down(md) {
                background-image: none !important;
            }
            @include media-breakpoint-up(md) {
                background-repeat: no-repeat;
                background-size: 50% auto;

                .row {
                    min-height: 450px;
                }

                h1 {
                    font-size: 50px;
                }
            }
        }

        .missao {
            background-position: center right;
            background-color: $primary;
            color: white;
        }

        .cursos {
            background-position: center left;
            background-color: white;

            h1 {
                color: $primary;
            }

            .btn {
                border-radius: 19px;
                width: 100%;
            }
        }
    }

    .saiba-mais {
        .item {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            hr {
                border-top: 3px solid white;
            }
            h1 {
                @include media-breakpoint-down(md) {
                    text-align: center;
                    font-size: 30px;
                }
            }
            .btn {
                border-radius: 29px;
                border-width: 2px;
            }
        }
    }

    .banda_larga .item {
        border: 0;
        border-top: 1px solid $primary;
        margin-top: 1rem;

        @include media-breakpoint-down(md) {
            padding-top: 1rem;
            &:first-child {
                border-top: 0;
            }
        }

        @include media-breakpoint-up(md) {
            border: 0;
            border-left: 3px solid $primary;
        }
    }


    .conteudo_online .item {
        .icone {
            img {
                width: auto;
                display: inline;
            }

            text-align: center;
            margin-top: -25px;
            margin-bottom: 25px;
        }

        p {
            line-height: 1.2;
            font-size: 0.95rem;
        }

        height: 215px;
        margin-top: 25px;
        margin-left: 1px;
        margin-right: 1px;
    }

}