.BlogSpotify {
    padding: 0;
}

.BlogSpotify-header {
    background: #FFF;
    text-align: center;
    padding: 13px 0;
    border-top: 2px solid #ff9602;
    border-bottom: 1px solid #EEEEEE;
    min-height: 54px;
}

.BlogSpotify-header h1 {
    font-family: 'Open sans', sans-serif;
    color: #525260;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.BlogSpotify-body {
    padding: 0;
    font-family: 'Open sans', sans-serif;
    border: 1px solid #eeeeee;
    box-shadow: 1px 3px 5px #cecdcd;
    background: #f9f9f9;
}

.BlogSpotify-body ul {
    margin: 0;
    padding: 0;
}

.BlogSpotify-body ul li {
    list-style: none;
    font-family: 'Open sans', sans-serif;
    border-bottom: 1px solid #EEE;
    font-weight: 500;
    color: #414151;
    font-size: 16px;
}

.BlogSpotify-body ul li a {
    height: inherit;
    width: 100%;
    display: block;
    padding: 5px;
}

.BlogSpotify-body ul li a:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #FFF !important;
}