// Variables //

$fa-font-path:         "../fonts" !default;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eaeaea;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
                (
                        "100": $gray-100,
                        "200": $gray-200,
                        "300": $gray-300,
                        "400": $gray-400,
                        "500": $gray-500,
                        "600": $gray-600,
                        "700": $gray-700,
                        "800": $gray-800,
                        "900": $gray-900
                ),
                $grays
);


$blue: #4798D8;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #CAB77D;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #246CAA;
$social-facebook: #3b5999;
$social-twitter: #55acee;
$social-gplus: #dd4b39;
$social-whatsapp: #13980A;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
                (
                        "blue": $blue,
                        "indigo": $indigo,
                        "purple": $purple,
                        "pink": $pink,
                        "red": $red,
                        "orange": $orange,
                        "yellow": $yellow,
                        "green": $green,
                        "teal": $teal,
                        "cyan": $cyan,
                        "white": $white,
                        "black": $black,
                        "gray": $gray-600,
                        "gray-dark": $gray-800,
                        "social-facebook": $social-facebook,
                        "social-twitter": $social-twitter,
                        "social-gplus": $social-gplus,
                        "social-whatsapp": $social-whatsapp
                ),
                $colors
);

$primary: $blue !default;
$secondary: $gray-200;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$gray: $gray-400 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
                (
                        "primary": $primary,
                        "secondary": $secondary,
                        "success": $success,
                        "info": $info,
                        "warning": $warning,
                        "danger": $danger,
                        "light": $light,
                        "gray": $gray,
                        "gray-dark": $gray-500,
                        "dark": $dark,
                        "black": $black,
                        "social-facebook": $social-facebook,
                        "social-twitter": $social-twitter,
                        "social-gplus": $social-gplus,
                        "social-whatsapp": $social-whatsapp
                ),
                $theme-colors
);

$font-family-sans-serif: "Myriad Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$border-radius: 0.5rem;