// Variables
@import "variables";
// Bootstrap
@import '../../../../node_modules/bootstrap/scss/bootstrap';
// View


html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("../Gerenciador/Login/Backgrounds/pattern.png");
    background-color: $primary;
    background-blend-mode: hard-light;
}

.form-signin {
    position: relative;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    z-index: 2;
    margin: auto;
    border-bottom-width: 4px !important;
    @include media-breakpoint-down(md) {
        border-left: none !important;
        border-right: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
